<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
        <tr>
            <th>id</th>
            <th>userid</th>
            <th>password</th>
            <th>email</th>
        </tr>
        <% for ( var i = 0; i<data.length; i++){ %>
            <tr>
                <td><%= data[i].班級  %></td>
                <td><%= data[i].班長  %></td>
                <td><%= data[i].上課地點  %></td>
                <td><%= data[i].保存率  %></td>
            </tr>
        <% } %>
    </table>

  </body>
</html>