<% layout('templates/layout') -%>

    <div class="container">
      <div class="row">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
                <tr>
                    <th>學員代碼</th>
                    <th>班級</th>
                    <th>學員名稱</th>
                    <th>班級系列</th>
                    <th>班級類型</th>
                </tr>
          </thead>
          
          <tbody>
              <% for ( var i = 0; i<data.length; i++){ %>
              <tr>
                  <td><%= data[i].學員代號  %></td>
                  <td><%= data[i].班級名稱  %></td>
                  <td><%= data[i].學員名稱  %></td>
                  <td><%= data[i].班級系列  %></td>
                  <td><%= data[i].班級類型  %></td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  
    <script type="text/javascript">
	        $(document).ready(function() {
                  $('#example').DataTable( {
                    "lengthMenu": [ [10, 25, 50, -1],[10, 25, 50, "All"] ],
                    "oLanguage": {
                        "sLengthMenu": " _MENU_ 筆/頁",
                        "sZeroRecords": "找不到符合的資料。",
                        "sInfoEmpty": "共 0 頁",
                        "sSearch": "搜尋",
                        "sInfoFiltered": " - 找到 _TOTAL_ 筆 資料",
                    },
                    "bProcessing": true,//顯示處理中的圖樣
                    "sDom": 'lirtp',
                    "initComplete": function () {
                        var api = this.api();
                        api.$('td').click( function () {
                            api.search( this.innerHTML ).draw();
                        } );
                    }
                } );
            } );          
  	</script>    